# Terraform state files
./Terraform/*.tfstate
./Terraform/*.tfstate.*

# Terraform crash logs
./Terraform/crash.log

# Terraform variable overrides
./Terraform/*.tfvars

# Terraform plan files
./Terraform/*.tfplan

# .terraform directory
./Terraform/.terraform/*

